html,
body {
  background: #000;
  color: #fff;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
}
a,
link {
  text-decoration: none;
  color: #fff;
}
.container {
  max-width: 1230px;
  padding: 0 15px;
  margin: 0 auto;
}
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
